

.tab_item.active {
  color: var(--bg);

  p {
    color: var(--bg);
  }
  svg {
    color: var(--bg);

  }
}
svg {
  color: #fff;
}

.tab_item:hover {
  svg {
    color: var(--bg) !important;
  }
}

.sidebar_item svg {
  min-width: 23px;
}

.dark {
  .tab_item.active {
    color: var(--bg);

    p {
      color: #fff;
    }
    svg {
      color: #fff;
    }

    &:hover{
      opacity: 1;
    p {
      color: #fff !important;
    }
    svg {
      color: #fff !important;
    }      
    }
  }

  .tab_item:hover{
    opacity: 0.7;
    p {
      color: #fff !important;
    }
    svg {
      color: #fff !important;
    }      
    }
  
}