.tab_item {
  color: var(--main);

  svg {
    color: var(--main);
  }
}

.tab_item.active {
  color: var(--main);

  p {
    color: var(--main);
  }
  svg {
    color: var(--main);
  }
}

.tab_item:hover {
}

.sidebar_item svg {
  min-width: 23px;
}

.dark {
  .tab_item.active {
    color: var(--bg);

    p {
      color: #fff;
    }
    svg {
    }

    &:hover {
      p {
        color: #fff !important;
      }
      svg {
      }
    }
  }
}

.sidebar {

   .tab_item{
        p {
      color: #fff;
    }
    svg {
      color: #fff;
    }
   }
  .tab_item.active {
    color: var(--bg);

    p {
      color: #fff;
    }
    svg {
      color: #fff;
    }
  }
 



  }
  .dark {
.sidebar {

  .sidebar_item svg {
    min-width: 23px;
  }

    .tab_item.active {
      color: var(--main);

      p {
        color: var(--main);
      }
      svg {
        color: var(--main);
      }
    }

    }
}
