
@import "tailwindcss";

*{
  transition: 0.5s;
  font-family: 'TT Norms', sans-serif;

}
@font-face {
    font-family: 'TT Norms';
    src: url('./assets/fonts/TTNorms-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

input{
  outline: none;
}
 button, a{
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.559);
  border-radius:  20px ;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 500px #646d5ca6;
  border-radius:  20px ;
}
